
.container-comp9{
    top: 150px;
    width: 450px;
    perspective: 900px;
    position: relative;
    position: absolute;
    top: -15px;
    left: -148px;
}
.container-comp9 #frames-comp9 {
    width: 44px;
    transform-style: preserve-3d;
    transform: rotateX(-18deg) rotateY(30deg) rotateZ(0deg)
    translate3d(230px, 95px, 0px);
}
.container-comp9 #frames-comp9 .strip-comp9{
    transform-style: preserve-3d;
    animation: spin-comp9 10s infinite linear;

}

.container-comp9 #frames-comp9 .strip-comp9 div {
    position: absolute;
    left: 20px;
    background: rgba(6, 212, 224, 0.8);
    height: 8px;
    width: 10px;
}
 
.container-comp9 #frames-comp9 .strip-comp9 .s1 {
    background-position: 913px;
    transform: rotateY(0deg) translateZ(120px);
}

.container-comp9 #frames-comp9 .strip-comp9 .s2 {
    background-position: 860px;
    transform: rotateY(15deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s3 {
    background-position: 807px;
    transform: rotateY(30deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s4 {
    background-position: 754px;
    transform: rotateY(45deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s5 {
    background-position: 701px;
    transform: rotateY(60deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s6 {
    background-position: 648px;
    transform: rotateY(75deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s7 {
    background-position: 595px;
    transform: rotateY(90deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s8 {
    background-position: 542px;
    transform: rotateY(105deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s9 {
    background-position: 490px;
    transform: rotateY(120deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s10 {
    background-position: 437px;
    transform: rotateY(135deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s11 {
    background-position: 384px;
    transform: rotateY(150deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s12 {
    background-position: 331px;
    transform: rotateY(165deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s13 {
    background-position: 278px;
    transform: rotateY(180deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s14 {
    background-position: 225px;
    transform: rotateY(195deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s15 {
    background-position: 172px;
    transform: rotateY(210deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s16 {
    background-position: 119px;
    transform: rotateY(225deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s17 {
    background-position: 66px;
    transform: rotateY(240deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s18 {
    background-position: 13px;
    transform: rotateY(255deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s19 {
    background-position: -40px;
    transform: rotateY(270deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s20 {
    background-position: -93px;
    transform: rotateY(285deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s21 {
    background-position: -146px;
    transform: rotateY(300deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s22 {
    background-position: -199px;
    transform: rotateY(315deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s23 {
    background-position: -252px;
    transform: rotateY(330deg) translateZ(120px);
}
.container-comp9 #frames-comp9 .strip-comp9 .s24 {
    background-position: -305px;
    transform: rotateY(345deg) translateZ(120px);
}



@keyframes spin-comp9 {
    for {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}