@import url('https://db.onlinewebfonts.com/c/2791267c488b942eb80f4f69ea85603e?family=MrAlex-Regular');

.trapezoid2{
    clip-path: polygon(8% 0, 90% 0, 100% 100%, 0% 100%);
}
.trapezoid3{
    clip-path: polygon(8% 0, 90% 0, 100% 100%, 0% 100%);
}

.trapezoid{
    clip-path: polygon(8% 0, 90% 0, 100% 100%, 0% 100%);
}

.trapezoid1{
    clip-path: polygon(8% 0, 90% 0, 100% 100%, 0% 100%);
}
